/* CSS declarations go here */
.u-blue {
	background-color: #294860;
}

.u-orange {
	background-color: #F08C35;
}

/* svg icon styles */
#icon-reddit .path1 {
	fill: rgb(225, 88, 75);
}
#icon-reddit .path2 {
	fill: rgb(13, 38, 54);
}

#icon-quora .path1 {
	fill: rgb(202, 70, 56);
}
#icon-quora .path2 {
	fill: rgb(255, 255, 255);
}

.icon-udacity_name {
	fill: aliceblue;
	height: 32px;
	max-width: 140px;
	margin-right: .7em;
}

.icon-udacity_u {
	fill: #F08C35;
	height: 54px;
	width: 54px;
}

.icon-udacity {
	fill: aliceblue;
	width: 48px;
	height: 54px;
}

.icon-github, .icon-github2 {
	width: 44px;
	height: 44px;
	fill: aliceblue;
	margin-top: 1em;
}

.icon-github2:hover {
	fill: #F08C35;
}

.icon-heart {
	padding: 4px 0;
}

.icon-heart-full {
	fill: red;
}

.icon-increase, .icon-decrease {
	height: 32px;
	width: 32px;
}

/* main styles */

html, body {
	font-family: 'Open Sans', sans-serif;
}

header, footer {
	position: relative;
	width: 100%;
	background-color: #294860;
	color: aliceblue;
}

header {
/*	padding: .5em;*/
	text-align: center;
	box-shadow: -2px 1px 4px 3px #888;
}

h2 {
	margin: 0;
	padding: .5em;
}

h2 span {
	font-weight: 300;
	vertical-align: 10px;
	letter-spacing: 1px;
}

footer {
	min-height: 6em;
	text-align: center;
}

.server-time {
	margin: 0;
	font-weight: 300;
	font-size: .8em;
}

a {
	text-decoration: none;
}

a {color:	#294860;}      /* unvisited link */
a:visited {color:#888;}  /* visited link */
a:hover {color:#F08C35;}  /* mouse over link */
a:active {color:#F08C35;}

button {
	background-color: aliceblue;
	border-radius: 1em;
	border: none;
}
button:active {
	background-color: #F08C35;
}
button:disabled {
	opacity: .3;
	pointer-events: none;
}
button:focus, select:focus, input:focus {
	outline: none;
}

select {
	font-weight: 300;
	background-color: aliceblue;
}

option {
	font-weight: 300;
}

.hr-style {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
}

header button {
	position: absolute;
	border: 1px solid #464f75;
	background-color: #294860;
	color: aliceblue;
/*
	box-shadow: 1px 3px 0px 1px #092840;
	transition: all .2s linear;
*/
	height: 1.5em;
	width: 1.5em;
}

.header__about {
/*	position: absolute;*/
	right: 1em;
/*	border: 1px solid #464f75;*/
	background-color: #294860;
	color: aliceblue;
	box-shadow: 1px 3px 0 1px #092840;
	transition: all .2s linear;
}

.header__about:active {
	background-color: #092840;
	transform: translate(1px, 2px);
	box-shadow: 0 1px 0 1px #092840;
}

.header__postform {
	left: 1em;
	box-shadow: 1px 4px 0 1px #092840;
	transition: all .2s linear;
}

.header__postform-pressed {
	background-color: #F3F3F3;
	color: #294860;
	transform: translate(1px, 2px);
	box-shadow: 1px 2px 0 1px #092840;
}

.header__postform:active {
	transform: translate(1px, 2px);
	box-shadow: 0 2px 0 1px #092840;
}

.header__btn-text {
	position: absolute;
	top: 55%;

	transform: translate(-50%, -50%);
}

.main-container {
	width: 100%;
}

.post-list {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
}

.post {
	width: 80%;
	position: relative;
	margin: 0 auto;
	margin-bottom: .5em;
	padding: 1em;
/*	border: 1px solid #294860;*/
	background: #F3F3F3;

	box-shadow: 3px 3px 5px 0 #777;
	overflow: hidden;
}

.post__clicks {
	position: absolute;
	box-sizing: border-box;
	height: 100%;
	width: 6em;
	left: 0;
	top: 0;
	font-size: .5em;
	padding: .5em;
	text-align: center;
	color: aliceblue;
}

.post__clicks-count {
	font-size: 5em;
}

.post__clicks-clicked {
	font-size: .7em;
	background-color: #296048;
	color: aliceblue;
	letter-spacing: 1px;
}

.post__corner-ribbon{
	width: 100px;
	position: absolute;
	top: 0px;
	right: -30px;
	left: auto;
	text-align: center;
	line-height: 18px;
	letter-spacing: 1px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	font-size: .7em;
	font-weight: 300;
	border-top: 1px dashed aliceblue;
	border-bottom: 1px dashed aliceblue;
/*	box-shadow: 0 1px 2px 2px #777;*/
}

.post__title {
	font-size: 1.2em;
	color: #294860;
	width: 90%;
	margin-left: 4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post__info-sig {
	position: absolute;
	right: 1em;
	bottom: 0;
	font-size: .7em;
	padding-bottom: .5em;
}

.post__source {
	float: left;
	margin-left: 3em;

}

#morePostsAvailable {
	position: relative;
	text-align: center;
	margin: 1em auto;
	cursor: pointer;
}

.loading-posts {
	padding: .5em 1em;
	background: aliceblue;
	border-radius: 1em;
	color: #888;
	font-weight: 300;
}

.loading-posts:hover {
	background-color: #888;
	color: aliceblue;
}

.post__icon {
	width: 24px;
	height: 24px;
}

.post__lifebar {
	float: right;
	font-size: .5em;
	margin: auto 0;
}

.form__container {
	position: relative;
	min-width: 20em;
	max-width: 40em;
	margin: 1em auto;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;

	transition: all .5s;
}

.form__container-hidden {
	height: 10px;
}

.form__label {
	display: inline-block;
	width: 3em;
}

.form__textbox {
	display: inline-block;
	width: 80%;
	max-width: 15em;
	border-radius: .4em;
	padding: .2em .5em;
	font-weight: 300;
}

.form__btn {
	padding: .5em 1em;
	background-color: #F08C35;
	color: aliceblue;
	display: block;
	margin: 1em auto;
	box-shadow: 1px 3px 0 1px #D07C33;
	transition: all .2s linear;
}


.form__btn:active {
		background-color: #E07C25;
	transform: translate(2px, 2px);
	box-shadow: 0px 1px 0 1px #D07C33;

}

.single-login-button {
	background-color: transparent !important;
	font-family: 'Open Sans', sans-serif !important;
	margin-bottom: .5em;
	padding: 6px 10px !important;
}

.login-form-sign-in {
	padding-bottom: .5em;
}

.login-link-text {
	color: aliceblue;
	text-decoration: none !important;
}

.about__container {
	position: absolute;
	z-index: 2;
	padding: 1.5em;
	background-color: #294860;
	color: aliceblue;
	opacity: .97;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	border: 2px solid aliceblue;
	border-radius: .5em;
	max-height: 80%;
	/*	display: none;*/
}

.about__container button {
	position: absolute;
	padding: .5em;
	right: .5em;
	background-color: #294860;
	color: aliceblue;
	font-size: .8em;
	font-weight: 300;
}

.about__container button:hover {
	background-color: aliceblue;
	color: #294860;
}


/* RESPONSIVE CSS media queries
--------------------------------------------------
/* For smaller screens, map and list sections overlap.
List section slides in and out of view as needed */
/* iphone6/ nexus5 screen considered baseline width*/
@media only screen and (max-width: 600px) {
	.post {
		width: 95%;
	}

	.post__title {
		font-size: .9em;
		margin-left: 3em;
	}
}

@media only screen and (max-width: 800px) {

	.post {
		width: 90%;
	}

	.post__clicks-count {
		font-size: 5em;
	}

	.post__title {
		font-size: 1em;

	}

	.post__info-sig {

		right: 1em;
		font-size: .6em;
	}

	.form__container {
		flex-flow: column;
		align-items: center;
		height: 10em;
	}

	.form__btn {
		margin: 0 auto;
	}

}
